@charset "utf-8";
/* This is the Custom CSS Document */

/* Body Styles */
html {
	overflow-x: hidden;
}

body {
	width: 100%;
	background-color: #f8f8f8;
	font-size: 16px;
	color: #222222;
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
}

.liquid-container {
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
}

h1 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	font-size: 11vw;
	color: #f4873c;
	margin-bottom: -15px;
}

h2 {
	font-family: 'Khula', sans-serif;
	font-weight: 400;
	font-size: 3.8vw;
	color: #f8f8f8;
	margin: -4vw 0 -25px -1vw;
}

h3 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	font-size: 7vw;
	color: #333333;
	margin: 0;
}

h4 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: #f4873c;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	margin-top: -10em;
	margin-left: -10em;
}

h5 {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	font-size: 2.2em;
	color: #333333;
}

a {
	color: #f4873c;
}

a:hover, a:focus {
	color: #333333;
	text-decoration: none;
}

.lead {
	color: #f4873c;
	font-size: 1.8em;
	margin-bottom: 0;
	margin-top: 25px;
}

.footer-text {
	font-size: 1.3em;
}

.orange {
	color: #f4873c;
}

.disclaimer {
	font-size: .75em;
}

.blank {
	height: 20px;
}


/* Nav Styles */
.site-brand {
	background: url('../img/header-triangles.svg');
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	margin: -1px -1px 0;
}

.brand-logo {
	padding-top: 15px;
	padding-bottom: 25px;
}



/* Button Styles */
.btn-default {
	background: #f4873c;
	color: #f8f8f8;
	border: 1px solid #333333;
	border-radius: 0;
	margin-top: 10px;
}

.btn-default:hover, .btn-default:focus {
	background: #333333;
	border-color: #f4873c;
	color: #f8f8f8;
}

.btn-default:active, .btn-default.active, a.btn-default:active, a.btn-default.active {
	background: #333333;
	border-color: #f4873c;
	color: #f8f8f8;
}




/* Section Styles */
.header {
	background: url('../img/header-bg.jpg');
	background-position: center center;
	background-size: cover;
}

.fitness {
	background: url('../img/fitness-bg.jpg');
	background-position: center top;
	background-size: cover;
	margin: 0;
}

.fitness h3 {
	color: #f4873c;
}

.fitness p {
	color: white;
}

.bottom-triangle {
	margin: 30em -2px 0;
}

.bottom-triangle img {
	margin: -2px 0;
}

.footer-triangle {
	margin: 10em -2px 0;
}

.footer-triangle img {
	margin: -2px 0;
}

.fitness-bottom {
	margin: 8em 0 -2px;
}

.top-triangle {
	margin: 0 -2px 5em;
}

.top-triangle img {
	margin: -2px 0;
}

.teams {
	padding-top: 5em;
	padding-bottom: 3em;
}

.biopic {
	position: relative;
	overflow: hidden;
	margin: 0;
}

.biopic img {
	min-width: 100%;
}

.biopic-overlay {
	position: absolute;
  top: 100%; right: 0; bottom: 0; left: 0;
  background: rgba(244, 135, 60,0.85);
  color: #fff;
  overflow: scroll;
  width: 100%;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	padding: 15px;
	margin: 0;
}

.biopic:hover .biopic-overlay, .biopic:focus .biopic-overlay {
	top: 0;
}

.footer {
	background: url('../img/footer-bg.png');
	background-position: center bottom;
	background-size: cover;
}

.footer .top-triangle {
	margin-bottom: 1em;
}

.contact {
	background: #333333;
	color: #f8f8f8;
}

.getfitnews {
	margin-top: 5em;
	margin-bottom: 0em;
}

.simpleeats {
	margin-top: 22em;
}

.simpleimage {
	margin-top: 8em;
}

.contact a:hover, .contact a:focus {
	color: #f8f8f8;
}

.copyright {
	padding-top: 5em;
}

.modal {
	top: 10%
}

.modal-content {
	background-color: #f8f8f8;
	border-radius: 0;
}

.modal-title {
	color: #f8f8f8;
}

.close {
	color: #f8f8f8;
	text-shadow: none;
	font-weight: 200;
	opacity: 1;
}

.modal-header {
	border-bottom: none;
	background: url("../img/modal-head.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding: 5px 15px 40px;
}

.modal-footer {
	border-top: none;
	padding: 2px 15px;
}







/* Harry Styles */
.grey-headline {
	margin: 4em -6em 12em 0;
	border: 4px solid #a8a9ad;
}

.grey-headline h1 {
	margin-top: -3vw;
}

.grey-headline h2 {
	margin-bottom: -3vw;
}

.orange-headline {
	min-height: 3.5vw;
	margin: 5em 0 -5.5vw -1em;
	border: 4px solid #f4873c;
}

.white-headline {
	margin: 0 -6em 3em 0;
	border: 4px solid #f8f8f8;
}

.white-headline h3 {
	margin-top: -1.8vw;
	margin-bottom: -2.4vw;
}

.footer-headline {
	margin: 0 -6em 3em 0;
	border: 4px solid #f4873c;
}

.footer-headline h3 {
	margin-top: -1.8vw;
	margin-bottom: -2.4vw;
	color: #333333;
}

.sub-text {
	margin-top: 5em;
}

.press {
	margin-top: 6em;
}

.triangles {
    min-width: 100% !important;
}





/* Navigation Overlay */
.overlay {
  position: fixed;
  background: #131313;
  top: 0;
  left: 0;
  width: 100VW;
  height: 100VH;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1050;
}
 
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay h3 {
	color: #f5f5f5;
	text-align: center;
	padding-left: 36px;
}

.overlay ul {
	list-style: none;
	text-align: center;
}

.overlay ul li a {
	color: #f5f5f5;
	font-size: 3em;
	font-weight: 900;
}

.overlay-contact {
	position: absolute;
	width: 50%;
	bottom: 10px;
	left: 50%;
}

.overlay-contact h3 {
	color: #f4873c;
	text-align: left;
}

.overlay-contact p {
	color: #f5f5f5;
}

.overlay-info {
	padding-left: 55px;
}



/* Navigation Styles */
.navbar-buttons {
	position: relative;
}

.navbar-toggle {
	display: block;
}

.navbar-toggle .icon-bar {
    transition: all 0.25s;
    transition-delay: all 0.25s;
	height: 3px;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 5px;
}

.navbar-toggle span:nth-child(2),
.navbar-toggle span:nth-child(4) {
    transform: rotate(0);
    background-color: #f4873c;
	width: 30px;
}

.navbar-toggle span:nth-child(3) {
    opacity: 1;
    background-color: #f4873c;
	width: 25px;
	margin-left: 5px;
}

.navbar-toggle.open-nav {
    transition: .2s cubic-bezier(0.63, 0, 0.14, 1);
}

.navbar-toggle.open-nav .icon-bar:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #f5f5f5;
}

.navbar-toggle.open-nav .icon-bar:nth-child(3) {
    opacity: 0;
}

.navbar-toggle.open-nav .icon-bar:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #f5f5f5;
}

.stop-scrolling {
	overflow: hidden;
	position: relative;
	height: 100vh;
}




/* Mobile Styles */
@media (max-width: 1199px) {
	h1 {
		font-size: 10vw;
		margin-bottom: -15px;
	}

	h2 {
		font-size: 3vw;
		margin: -3.5vw 0 -25px -1vw;
	}

	h3 {
		font-size: 9vw;
		margin: -1.5vw 0 0;
	}

	.orange-headline {
		min-height: 4.8vw;
	}

	h4 {
		margin-top: -7.5em;
		margin-left: -8em;
	}

	.sub-text {
		margin-top: 7em;
	}
}

@media (max-width: 991px) {
	h4 {
		margin-top: -.5em;
		margin-left: 0.2em;
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}

	.sub-text {
		margin-top: 1em;
	}

	.erikapic {
		margin-top: 3em;
	}

	.biopic img {
		margin-top: 25px;
	}

	.biopic:hover .biopic-overlay, .biopic:focus .biopic-overlay {
		top: 25px;
	}

	.overlay h3 {
		text-align: left;
		padding-left: 25px;
	}
	
	.overlay ul {
		list-style: none;
		text-align: left;
		padding-left: 30px;
	}

	.overlay-contact {
		position: absolute;
		width: 70%;
		bottom: 0;
		left: 30%;
	}

	.simpleeats {
		margin-top: 4em;
	}
	
	.simpleimage {
		margin-top: 2em;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 20vw;
	}

	h2 {
		font-size: 5.8vw;
		margin-top: -6vw;
	}

	.header {
		background: url('../img/header-bg-m.png');
		background-position: top left;
		background-size: cover;
	}

	.fitness {
		background: url('../img/fitness-bg-m.png');
		background-position: center top;
		background-size: cover;
	}

	.fitness .top-triangle {
		margin-bottom: 2em;
	}

	.footer {
		background: url('../img/footer-bg-m.png');
		background-position: left bottom;
		background-size: cover;
	}

	.grey-headline {
		margin: 0 -6em 12em 0;
	}

	.grey-headline h1 {
		margin-top: -4.5vw;
	}

	.grey-headline h2 {
		margin-bottom: -6vw;
	}

	h3 {
		font-size: 4em;
		margin: -30px 0 0;
	}

	.orange-headline {
		min-height: 2em;
		margin: 5em 0 -1em -1em;
	}

	.white-headline {
		margin: 0 -6em 3em 0;
		border: 4px solid #f8f8f8;
	}

	.white-headline h3 {
		margin-top: -20px;
		margin-bottom: -25px;
	}

	.footer-headline h3 {
		margin-top: -20px;
		margin-bottom: -25px;
	}

	.overlay ul li a {
		font-size: 1.8em;
	}

	.overlay-contact {
		position: absolute;
		width: 85%;
		bottom: 0;
		left: 15%;
	}

	.overlay .white-headline {
		margin-bottom: 1em;
	}
	
	.overlay .orange-headline {
		margin-top: 3em;
	}

	.overlay-info {
		padding-left: 35px;
	}
	
	.simpleimage {
		margin-bottom: 2em;
	}
}
